*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}

/* header */
header{
    padding: 20px;
    color: black;
}

.container, footer, content{
    width: 980px;
    margin: 0 auto;
    box-shadow: 0 0 1em #cccccc;
}

nav {
    display: block;
    background-color: rgb(2, 69, 238);
}
nav a {
    padding: 15px 30px;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    background-color: rgb(0, 40, 151);
}

hr{
    border: 2px solid;
}

.content h1{
    text-align: center;
    padding: 30px ;
}

.main {
    padding: 40px;
}
.main p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 25px;
}

table{
    border-collapse: collapse;
}

th, tr, td{
    border: 1px solid;
    padding: 10px;
}

th{
    font-weight: bold;
    background-color: rgb(115, 154, 255);
}

.input label{
    display: inline-block;
    width: 100px;
    padding: 10px;
}

.input input[type="text"], form textarea{
    border-radius: 3px;
    border: 1px solid rgb(2, 69, 238);
}

.submit input{
    border: 1px solid;
    border-radius: 5px;
    background-color: rgb(2, 69, 238);
    margin-top: 20px;
    color: white;
    padding: 7px 14px;
    margin-left: 100px;
}

.submit input:hover{
    background-color: rgb(0, 40, 151);
}

footer{
    background-color: #000;
    color: #fff;
    clear: both;
    padding: 20px 0;
    text-align: center;
}